@charset "utf-8";

/* PAGINA INFORMACION ACTOR -------------------------------------- */

.contenedor1{
  margin-top:95px;
  width:100%;
  height:auto;
  display: -webkit-flex;
  display: flex;
  padding:10px 0;
}

.contenedor2{
  width:30%;
  display: -webkit-flex;
  -webkit-flex-direction: column;
}

.contenedor3{
  padding: 10px;
  width:70%;
  display: -webkit-flex;
  display: flex;
}

div#nombre{
  border-radius: 50px;
  text-align:center;
  width: 100%;
  background-color: white;
  margin-bottom: 5%;
  font-size: 17px;
  margin:10px;
}

div#foto{
  width: 100%;
  background-color: white;
  overflow: hidden;
  margin:10px;
  text-align:center;
  border-radius: 18px;
}

img {
  height:395px;
  width:auto;
}

div#info{
  margin: 0px 15px;
  width: 60%;
  background-color: white;
  font-size: 17px;
  text-align: justify;
  line-height: 1.4;
  border-radius: 20px;
  padding:0 20px;
}

div#series{
  margin:0px 15px;
  width: 40%;
  border-radius: 20px;
  background-color: white;
  padding:0 10px;
  text-align: center;
}